@import url(../node_modules/bootstrap-icons/font/bootstrap-icons.css);
.d-blue {
  color: #0a2647;
}

.md-blue {
  color: #144272;
}

.blue {
  color: #205295;
}

.l-blue {
  color: #2c74b3;
}

*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

.navbar-toggler {
  border-color: #0a2647;
  color: #0a2647;
}

.navbar-brand {
  font-family: "Alfa Slab One", cursive;
}

.ff-h {
  font-family: "Roboto", sans-serif;
}

textarea {
  resize: none;
}

.welcome-banner {
  background: url("./img/vans.jpg") no-repeat center 55%;
  background-size: cover;
  height: 50vh;
}
.welcome-banner header {
  letter-spacing: 0.7rem;
  bottom: -25%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.welcome-banner-adv {
  background-color: #205295;
  padding-top: 8rem;
  padding-bottom: 8rem;
}
.welcome-banner-adv div.row {
  color: white;
}

.card img {
  object-fit: cover;
  height: 35vh;
  border-radius: 0;
}

.header-section {
  border-bottom: 3px solid #205295;
  display: inline-block;
}

.price-list {
  background-color: #0a2647;
  color: white;
}

.ls-square {
  list-style: square;
}

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.movein-btn {
  background-color: #205295;
  color: white;
}
.movein-btn:hover {
  background-color: #2c74b3;
  color: white;
}

@media (max-width: 992px) {
  .welcome-banner header {
    font-size: 1.3rem;
  }
}

.nav-item a {
  color: #0a2647;
  opacity: 0.8;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}
.nav-item a:hover {
  opacity: 1;
  color: #2c74b3;
}

section,
footer {
  padding-top: 100px;
  padding-bottom: 100px;
}
